<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="http://localhost:3000/">
    <img src="" width="30" height="30" class="d-inline-block align-top" alt="">
    Mister Cocktails
  </a>
  <%= link_to "Add a new cocktail", new_cocktail_path %>
</nav>