<div><%= render "header" %>
<h1>Cocktails Menu</h1>

<div class="container">
<div class="row">
  <% @cocktails.each do |cocktail| %>
    <div class="col-sm-4">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.loveandoliveoil.com/wp-content/uploads/2014/10/antioxidant-cocktail2-1-600x900.jpg)"><%= link_to cocktail.name, cocktail_path(cocktail) %></div>
    </div>
  <% end %>
</div> 
</div>


<%= link_to "Add a new cocktail", new_cocktail_path %>